* {
    margin: 0;
    padding: 0;
}

a {
    color: #999999;
}

a:focus, a:hover {
    text-decoration: unset;
}

html, body {
    margin: 0;
    padding: 0;
    zoom: 1;
    width: 100%;
    height: 100%;
    background-color: #faf9f9;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 400;
}

.navbar {
    margin-bottom: unset;
    box-shadow: 0 6px 6px -6px #eee;
}

.col-md-9 {
    margin-top: 7.5rem;
}

.active #gotolistLink{
    background-color : #989898 !important;
}


#versionInfo {
    font-size: 1rem;
}

#firstPageTitle {
    font-family: 'NanumSquare', sans-serif;
    font-weight: 400;
    position: relative;
}

.firstPageTitleAreaElementLeft {
    float: left;
}

.firstPageTitleAreaElementRight {
    float: right;
}

#gotolistLink {
    background:#989898;
    color: white;
    font-weight: 700;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #565656;
}

.monthInSlideListYear li {
    border-bottom: 1px solid #e7e7e7;
    margin-top: 1rem;
}
