{% if retry %}
<script type="text/javascript">
alert("아이디 혹은 비밀번호가 틀립니다.")
</script>
{% endif %}
<html>
    <head>
        <title>ISO 15189 평가</title>
        <link rel="stylesheet" href="static/css/login.css">
    </head>
    <body>
        <div class="wrap">
            <div class="form-wrap">
                <div style = "text-align:center;font-size : 30px;font-family: sans-serif;">ISO 15189 평가</div><br>
                <div style = "text-align:center;font-size : 20px;font-family: sans-serif;">5문항</div>
                <form id="login" action="/login" method="POST" class="input-group">
                    <input type="text" name="username" class="input-field" placeholder="User name" required>
                    <input type="password" name="password" class="input-field" placeholder="Enter Password" required>
                    <input type="submit" class="submit" value = "로그인"></button>
                </form>
            </div>
        </div>
    </body>
</html> 